---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contacto">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contacto</Fragment>
      <Fragment slot="desc">Estamos aquí para ayudarte.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div class="">
        <h2 class="font-medium text-2xl text-gray-800 dark:text-white">
          Contacta a <span class="font-bold text-purple-900">EGX</span>
        </h2>
        <p
          class="text-lg leading-relaxed text-slate-500 mt-3 dark:text-gray-200">
          ¿Quieres una cotización? Estamos aquí para ayudarte. Rellena el
          formulario o envíanos un email o un whatsapp a nuestro número de
          contacto.
        </p>
        <div class="mt-5">
          <div
            class="flex items-center mt-2 space-x-2 text-gray-600 dark:text-gray-300">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Pasaje Coronel 1997, Maule</span>
          </div><div
            class="flex items-center mt-2 space-x-2 text-gray-600 hover:text-black dark:text-gray-300 dark:hover:text-white">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:egxingenieria@gmail.com">egxingenieria@gmail.com</a
            >
          </div><div
            class="flex items-center mt-2 space-x-2 text-gray-600 hover:text-black dark:text-gray-300 dark:hover:text-white">
            <Icon class="text-gray-400 w-4 h-4" name="bi:whatsapp" /><a
              href="https://wa.me/56932101930?text=Hola,%20me%20gustar%C3%ADa%20cotizar"
              >+56 9 3210 1930</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
