---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Nosotros">
  <Container>

    <Sectionhead>
      <Fragment slot="title">Nuestra Empresa</Fragment>
      <Fragment slot="desc">
        Somos un equipo de profesionales y especialistas.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Bienvenidos a EGX Ingeniería
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Nos dedicamos a ofrecer soluciones integrales en ingeniería,
        especializándonos en instalaciones sanitarias, de gas y electricidad.
        Nuestra misión es proporcionar servicios de la más alta calidad,
        garantizando seguridad y eficiencia en cada proyecto.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="text-center font-bold text-3xl text-gray-800">
        Nuestro compromiso con la Excelencia
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        La calidad y la seguridad son fundamentales en cada aspecto de nuestro
        trabajo. Cumplimos estrictamente con las normativas y estándares,
        asegurando la máxima satisfacción y seguridad para nuestros clientes.
      </p>
      <div class="flex justify-center">
        <Picture
          src="/electric-installation.jpeg"
          alt="Astronaut in the air"
          widths={[100, 200, 300]}
          aspectRatio="1:1"
          sizes="(max-width: 100px) 100vw, 320px"
          loading="eager"
          format="webp"
        />
      </div>
    </div>
  </Container>
</Layout>
