---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Quiénes somos">
  <Container>
    <div class="max-w-4xl mx-auto px-16 py-16 mb-8">
      <h2 class="text-center pb-2">NUESTRA MISIÓN</h2>
      <h1 class="text-center text-3xl pb-4 font-semibold">
        Simplificar la certificación y concreción de tus Proyectos
      </h1>
      <p class="text-center text-xl">
        Nuestro compromiso es asegurar soluciones eficientes, seguras y
        adaptadas a las necesidades específicas de cada proyecto, garantizando
        calidad y cumplimiento normativo.
      </p>
    </div>
    <div
      class="bg-purple-50 mx-auto grid grid-cols-1 md:grid-cols-3 px-20 py-16 gap-6">
      <div class="col-span-1">
        <img
          src="/talca.jpg"
          alt="Talca"
          class="aspect-square max-w-xs w-full h-full object-cover rounded"
        />
      </div>
      <div class="col-span-2">
        <h4 class="pb-2">NUESTRA VISIÓN</h4>
        <h3 class="font-semibold text-2xl mb-4">
          Ser Líderes en Proyectos de especialidad en La Región del Maule
        </h3>
        <p class="text-xl">
          Aspiramos a ser reconocidos por combinar tecnología avanzada y un
          servicio al cliente excepcional, estableciendo nuevos estándares en
          sostenibilidad y seguridad. <br />
          Nos enfocamos en desarrollar soluciones que no solo satisfagan, sino que
          superen las expectativas de nuestros clientes, contribuyendo significativamente
          al progreso y bienestar de nuestra comunidad.
        </p>
      </div>
    </div>
  </Container>
</Layout>
