---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
---

<Layout title="Quiénes somos">
  <section>
    <div
      class="bg-center bg-cover bg-[url('/certification.jpg')] bg-gray-700 bg-blend-multiply h-96 py-48">
    </div>
    <div
      class="container mx-auto bg-white rounded-xl max-w-5xl -mt-64 pt-1 px-2 md:px-8 lg:px-16">
      <Sectionhead>
        <Fragment slot="title">
          <div class="flex gap-4 items-center flex-col text-3xl lg:text-5xl">
            <Image
              src="/logo.png"
              alt="Logo EGX"
              width="96"
              height="96"
              loading="eager"
              format="avif"
            />
            <div>
              <span class="text-purple-500">EGX</span> Ingeniería
            </div>
          </div>
        </Fragment>
        <Fragment slot="desc">
          <div class="text-left text-xl md:text-2xl">
            Nuestra empresa está conformada por <span class="font-semibold"
              >Ingenieros, Gásfiters, Electricistas y Dibujantes</span
            >. Todo el equipo técnico posee certificación SEC, con sus licencias
            profesionales correspondientes.
          </div>
        </Fragment>
      </Sectionhead>
      <div class="mb-8 mt-10 ml-4">
        <h2
          class="flex items-center gap-2 text-purple-900 text-lg md:text-2xl font-bold">
          <div class="bg-purple-300 rounded-sm w-5 md:w-6 h-5 md:h-6">
            <Icon class="w-full" name="ic:twotone-arrow-right" />
          </div>
          MISIÓN
        </h2>
        <p class="lg:text-xl px-2">
          <span class="font-bold">
            Nuestro compromiso simplificar la certificación y concreción de tus
            proyectos,
          </span> asegurando soluciones eficientes, seguras y adaptadas a las necesidades
          específicas de cada proyecto, garantizando calidad y cumplimiento normativo.
        </p>
      </div>
      <div class="ml-4">
        <h2
          class="flex items-center gap-2 text-purple-900 text-lg md:text-2xl font-bold">
          <div class="bg-purple-300 rounded-sm w-5 md:w-6 h-5 md:h-6">
            <Icon class="w-full" name="ic:twotone-arrow-right" />
          </div>
          VISIÓN
        </h2>
        <p class="md:text-xl px-2">
          <span class="font-bold">
            Aspiramos a Ser Líderes en Proyectos de especialidad en La Región
            del Maule
          </span>
          siendo reconocidos por combinar tecnología avanzada y un servicio al cliente
          excepcional, estableciendo nuevos estándares en sostenibilidad y seguridad.
        </p>
        <div></div>
      </div>
    </div>
  </section>
</Layout>
