---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    category: "Certificación",
    name: "TC6",
    popular: false,
    features: ["Domiciliario", "Comercial", "D.S. 66"],
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
  {
    category: "Diseño",
    name: "Proyectos",
    popular: false,
    features: ["A todo Chile", "Planimetría", "Memoría de Cálculo", "EE.TT."],
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
  {
    category: "Certificación",
    name: "TE1",
    popular: false,
    features: ["Domiciliario", "Comercial", "Pliegos RIC"],
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
  {
    category: "Servicio",
    name: "Contratista",
    popular: false,
    features: [
      "Región del Maule",
      "Inst. Domiciliarias",
      "Gas",
      "Electricidad",
      "Sanitario",
    ],
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
  {
    category: "Gestión",
    name: "Sello Verde",
    popular: false,
    features: ["Estándares SEC"],
    image: {
      src: "/sello-verde.jpeg",
      alt: "Sello Verde",
    },
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
  {
    category: "Tramitación",
    name: "Res. Sanitarias",
    popular: false,
    features: ["Fosa Séptica", "Noria", "Pozo Profundo"],
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
];
---

<Layout title="Servicios">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Servicios</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>

    <div class="text-center text-xl mt-10 max-w-3xl mx-auto">
      Si deseas saber acerca del resto de nuestros servicios llena nuestro <a
        href="/contacto"
        class="underline underline-offset-2 decoration-purple-700 hover:decoration-purple-400 hover:text-purple-800"
        >formulario de contacto</a
      > y te responderemos a la brevedad.
    </div>
  </Container>
</Layout>
