---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import ServiceCard from "@components/custom/service-card.astro";
import { Icon } from "astro-icon";

const pricing = [
  {
    category: "Certificación",
    name: "TC6",
    popular: false,
    features: ["Domiciliario", "Comercial", "D.S. 66"],
    image: {
      src: "/services/tc6.png",
      alt: "Certificación TC6",
    },
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
  {
    category: "Diseño",
    name: "Proyectos",
    popular: false,
    features: ["A todo Chile", "Planimetría", "Memoría de Cálculo", "EE.TT."],
    image: {
      src: "/services/proyectos.png",
      alt: "Proyectos",
    },
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
  {
    category: "Certificación",
    name: "TE1",
    popular: false,
    features: ["Domiciliario", "Comercial", "Pliegos RIC"],
    image: {
      src: "/services/te1.png",
      alt: "CertificaciónTE1",
    },
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
  {
    category: "Servicio",
    name: "Contratista",
    popular: false,
    features: [
      "Región del Maule",
      "Inst. Domiciliarias",
      "Gas",
      "Electricidad",
      "Sanitario",
    ],
    image: {
      src: "/services/contratista.png",
      alt: "Contratista",
    },
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
  {
    category: "Gestión",
    name: "Sello Verde",
    popular: false,
    features: ["Estándares SEC"],
    image: {
      src: "/services/sello-verde.png",
      alt: "Sello Verde",
    },
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
  {
    category: "Tramitación",
    name: "Res. Sanitarias",
    popular: false,
    image: {
      src: "/services/sanitario.png",
      alt: "Resolución Sanitaria",
    },
    features: ["Fosa Séptica", "Noria", "Pozo Profundo"],
    button: {
      text: "Cotizar",
      link: "/contacto",
    },
  },
];
---

<Layout title="Servicios">
  <section>
    <div
      class="bg-center bg-cover bg-[url('/certification.jpg')] bg-gray-700 bg-blend-multiply h-96 py-48">
    </div>
    <div
      class="container mx-auto bg-white rounded-xl max-w-7xl -mt-64 pt-1 px-6 md:px-8 lg:px-16 xl:px-24">
      <Sectionhead>
        <Fragment slot="title">
          <div class="flex items-end gap-2 text-3xl lg:text-5xl">
            <div class="bg-purple-400 rounded-full p-2">
              <Icon name="ri:hammer-line" class="w-8 h-8" />
            </div>
            <div>Servicios</div>
          </div>
        </Fragment>
        <Fragment slot="desc">
          <div class="text-left text-lg md:text-xl pl-2">
            En EGX Ingeniería contamos con profesionales capacitados con
            certificación SEC, habilitados para realizar los siguientes
            trabajos.
          </div></Fragment
        >
      </Sectionhead>
      <div class="w-full grid md:grid-cols-2 lg:grid-cols-3 gap-6 mt-12">
        {
          pricing.map((item, index) => (
            <ServiceCard
              list={item.features}
              title={item.name}
              epigraph={item.category}
              image={item.image}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
