---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    category: "Certificación",
    name: "TC6",
    popular: false,
    features: ["Normativas vigentes", "Certificación"],
    button: {
      text: "Ver Más",
      link: "/contacto",
    },
  },
  {
    category: "Proyectos",
    name: "Planimetrías",
    popular: true,
    features: ["A todo Chile", "Planos", "Memoría de Cálculo", "EE.TT."],
    button: {
      text: "Planificar",
      link: "/contacto",
    },
  },
  {
    category: "Instalaciones",
    name: "TE1",
    popular: false,
    features: ["Estándares SEC", "Seguridad"],
    button: {
      text: "Ver Más",
      link: "/contacto",
    },
  },
  {
    category: "",
    name: "Contratista",
    popular: false,
    features: ["Estándares SEC", "Seguridad"],
    button: {
      text: "Ver Más",
      link: "/contacto",
    },
  },
  {
    category: "Proyectos",
    name: "Gestión Sello Verde",
    popular: true,
    features: ["Estándares SEC", "Seguridad"],
    button: {
      text: "Saber Más",
      link: "/contacto",
    },
  },
  {
    category: "Instalaciones",
    name: "Res. Sanitarias",
    popular: false,
    features: ["Estándares SEC", "Seguridad"],
    button: {
      text: "Ver Más",
      link: "/contacto",
    },
  },
];
---

<Layout title="Servicios">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Servicios</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>

    <div class="text-center text-xl mt-10 max-w-3xl mx-auto">
      Si deseas saber acerca del resto de nuestros servicios llena nuestro <a
        href="/contacto"
        class="underline underline-offset-2 decoration-purple-700"
        >formulario de contacto</a
      > y te responderemos a la brevedad.
    </div>
  </Container>
</Layout>
