---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Inicio",
    path: "/",
  },
  {
    title: "Nosotros",
    path: "/empresa",
  },
  {
    title: "Servicios",
    path: "/servicios",
  },
  {
    title: "Contacto",
    path: "/contacto",
    isContact: true,
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <img
            src="/logo.png"
            alt=""
            class="inline-block mr-1"
            style="max-width: 40px;"
          />
          <span class="font-bold text-slate-800">EGX</span>
          <span class="text-slate-500">Ingeniería</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                <li>
                  {!item.isContact && (
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                    </a>
                  )}
                  {item.isContact && (
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center rounded lg:bg-purple-600 lg:text-white lg:hover:bg-purple-700">
                      <span> {item.title}</span>
                    </a>
                  )}
                </li>
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
