---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Tramitación TC6",
    description:
      "Garantizamos seguridad y cumplimiento con nuestro servicio de certificación TC6, asegurando que tus instalaciones de gas cumplan con todas las normativas vigentes.",
    icon: "mdi:gas",
  },
  {
    title: "Tramitación TE1",
    description:
      "Proporcionamos certificación TE1 para tus instalaciones eléctricas, asegurando que estén en perfecta conformidad con las normas de seguridad actuales.",
    icon: "mdi:lightning-bolt-outline",
  },
  {
    title: "Diseño de Proyectos",
    description:
      "Creamos diseños de proyectos personalizados que fusionan innovación, funcionalidad y estética, adaptándonos a tus necesidades específicas.",
    icon: "bx:bx-pencil",
  },
  {
    title: "Servicio de Contratista",
    description:
      "Como contratistas expertos, gestionamos y ejecutamos tu proyecto con eficiencia y precisión, asegurando resultados de la más alta calidad.",
    icon: "mdi:file-document-edit",
  },
  {
    title: "Inspección Técnica",
    description:
      "Nuestras inspecciones técnicas detalladas aseguran que tus instalaciones cumplan con todos los requisitos de seguridad y funcionamiento.",
    icon: "bx:bx-search-alt",
  },
  {
    title: "Gestion de Sello Verde",
    description:
      "Gestionamos eficientemente el servicio, programando inspecciones y supervisando el proceso para asegurar la obtención inmediata de la certificación.",
    icon: "mdi:certificate-outline",
  },
  {
    title: "Resoluciones Sanitarias",
    description:
      "Nos especializamos en obtener resoluciones sanitarias, asegurando que tus proyectos de agua potable y alcantarillado cumplan con las regulaciones de la seremi de salud.",
    icon: "bx:bx-shield",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Servicios de Ingeniería
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Llevamos tus <span class="italic text-purple-800">ideas</span> a la <span
      class="font-bold text-amber-600">realidad</span
    >, creando soluciones personalizadas y efectivas
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="group/item flex gap-4 items-start">
        <div class="mt-1 bg-purple-950 rounded-full  p-2 w-10 h-10 shrink-0 group-hover/item:bg-amber-600 duration-200">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
