---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage.src}
      alt="Planos"
      widths={[200, 400, 600]}
      aspectRatio="5:4"
      sizes="(max-width: 650px) 100vw, 520px"
      loading="eager"
      format="webp"
      fit="cover"
      class="rounded-lg shadow-lg"
    />
  </div>
  <div class="main-hero">
    <h1 class="text-4xl font-bold tracking-tight xl:tracking-tighter">
      <span class="text-purple-600">Proyectos de Especialidades:</span>
      <br /><span class="text-3xl">
        La nueva era de las Instalaciones Domiciliarias
      </span>
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Descubre con <span class="text-purple-600 font-extrabold">EGX</span>
      <span class="text-sky-600 font-semibold">seguridad y diseño</span> en servicios
      de ingeniería de la <span class="font-bold">Región del Maule</span>. Nos
      especializamos en instalaciones de<span
        class="text-purple-600 font-semibold">
        gas</span
      >, <span class="text-amber-600 font-semibold">electricidad</span> y <span
        class="text-sky-600 font-semibold">sanitarias</span
      >, ofreciendo un servicio completo desde la planificación hasta la
      ejecución.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row">
      <Link
        href="/contacto"
        class="flex items-center justify-center bg-purple-600 hover:bg-purple-500"
        rel="noopener">
        <Icon class="text-white w-6 h-6" name="icon-park-outline:message" />
        <div class="px-3">Contáctanos</div>
      </Link>
    </div>
  </div>
</main>

<style>
  @media screen and (width < 768px) {
    .main-hero {
      background-image: url("/hero.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-blend-mode: overlay;
      background-color: rgba(255, 255, 255, 0.778);
      padding: 24px;
    }
  }
</style>
