---
import { Image } from "astro:assets";
import nehuenLogo from "@assets/logos/nehuen-logo.png";
import canelosLogo from "@assets/logos/4canelos-logo.png";
---

<div class="mt-24">
  <h2 class="text-center text-slate-700 text-xl font-bold">
    Nuestros Clientes
  </h2>
  <div
    class="flex gap-20 md:gap-32 items-center justify-center mt-10 flex-wrap">
    <Image
      src={canelosLogo}
      alt="Empresas Nehuen Logo"
      width={96}
      class="filter grayscale hover:filter-none transition-all duration-500 ease-in-out"
    />
    <Image
      src={nehuenLogo}
      alt="Empresas Nehuen Logo"
      width={96}
      class="filter grayscale hover:filter-none transition-all duration-500 ease-in-out"
    />
    <div
      class="text-xl hover:text-green-700 transition-all duration-500 ease-in-out">
      <span class="font-bold">Licancabur</span> spa
    </div>
  </div>
</div>
