---
import { Icon } from "astro-icon";
---

<a
  class="fixed bottom-10 right-10 p-4 bg-green-500 rounded-full hover:bg-green-400 transition"
  href="https://wa.me/56932101930?text=Hola,%20me%20gustar%C3%ADa%20cotizar"
  target="_blank"
  aria-label="Escribe a nuestro whatsapp">
  <Icon class="text-white w-7 h-7" name="bi:whatsapp" />
</a>
